@import "fonts";
@import "rouge-github";

body {
  background-color: #fff;
  padding: 50px;
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 20px;
}

p,
ul,
ol,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3,
h4,
h5,
h6 {
  color: #494949;
}

a {
  color: #267CB9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #069;
  text-decoration: underline;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 2px 5px;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

header img {
  display: block;
  margin-bottom: 20px;
}

ul.downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
}

.downloads li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}

.downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

.downloads a {
  line-height: 1;
  font-size: 11px;
  color: #676767;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

.downloads a:hover,
.downloads a:focus {
  color: #675C5C;
  font-weight: bold;
}

.downloads ul a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
  font-weight: 700;
}

.downloads li+li+li {
  border-right: none;
  width: 89px;
}

.downloads a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

section {
  width: 580px;
  float: right;
  padding-bottom: 50px;
}

section table {
  margin-top: 2em;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.theme-toggle {
  display: block;
  margin-top: 14px;
  cursor: pointer;
}

.theme-toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-track {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 42px;
  background: #7a7a7a;
  border-radius: 11px;
}

.theme-toggle-moon,
.theme-toggle-sun {
  position: absolute;
  top: 3px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 2;
  pointer-events: none;
  line-height: 1;
}

.theme-toggle-moon {
  left: 3px;
  color: #fff;
}

.theme-toggle-sun {
  right: 3px;
  color: #555;
}

.theme-toggle-thumb {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 8px;
  transition: transform 0.25s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1;
  transform: translateX(38px);
}

.theme-toggle input:checked ~ .theme-toggle-track .theme-toggle-thumb {
  transform: translateX(0);
}

@media print,
screen and (max-width: 1040px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print,
screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li,
  .downloads li+li+li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}

@mixin dark-theme {
  body {
    background-color: #1a1a1a;
    color: #b8b8b8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #e2e2e2;
  }

  h2 {
    color: #d4d4d4;
  }

  h3,
  h4,
  h5,
  h6 {
    color: #cccccc;
  }

  a {
    color: #6ab4e8;
  }

  a:hover,
  a:focus {
    color: #9dd0f5;
  }

  strong {
    color: #e2e2e2;
  }

  th,
  dt {
    color: #d4d4d4;
  }

  blockquote {
    border-left-color: #383838;
  }

  pre {
    background: #252525;
    border-color: #383838;
  }

  hr {
    background: #383838;
  }

  ul.downloads {
    background: #262626;
    border-color: #383838;
  }

  .downloads li {
    border-right-color: #383838;
  }

  .downloads a {
    color: #b8b8b8;
  }

  .downloads a strong {
    color: #e2e2e2;
  }

  .downloads a:hover,
  .downloads a:focus {
    color: #e2e2e2;
  }

  section {
    border-color: #383838;
  }

  .theme-toggle-track {
    background: #4a4a4a;
  }

  .theme-toggle-thumb {
    background: #232323;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }

  .theme-toggle-moon {
    color: #999;
  }

  .theme-toggle-sun {
    color: #999;
  }
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    @include dark-theme;
  }
}

html[data-theme="dark"] {
  @include dark-theme;
}