<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Personal Website for Oliver Scheiwiller">
  <meta name="author" content="Oliver Scheiwiller">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  {% include head-custom.html %}

  <script src="https://use.fontawesome.com/8a09b24821.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>{{ site.title }}</h1>

      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}

      <h1>👋</h1>
      <p>{{ site.intro }}</p>

      <ul class="downloads">
        <li><a href="{{ site.linkedin_url }}">Connect on <strong>LinkedIn</strong></a></li>
        <li><a href="{{ site.github_url }}">View my <strong>GitHub</strong></a></li>
      </ul>

      <h3>At a glance</h3>
      <h5>
        Currently
      </h5>
      <ul>
        <li>
          TS&T Consultant at <a
            href="https://www2.deloitte.com/ch/en/pages/technology/solutions/technology-strategy-and-transformation.html">Deloitte
            Switzerland</a>
        </li>
      </ul>
      <h4>
        Previously
      </h4>
      <ul>
        <li>
          DevOps Developer at <a href="https://www.ibm.com/cloud/object-storage">IBM</a>
        </li>
        <li>
          Intern at <a href="http://onsemi.com/">ON Semiconductor</a>
        </li>
        <li>
          Operations Specialist at <a href="http://www.apple.com/retail/scottsdalequarter/">Apple</a>
        </li>
        <li>
          Software Developer at <a href="https://www.stadt-zuerich.ch/fd/de/index/informatik_oiz.html">OIZ</a>
        </li>
        <li>
          Volunteer at <a href="http://www.oja.ch/home/index.html">OJA</a>
        </li>
        <li>
          <a href="https://omscs.gatech.edu/">M.S. Computer Science</a> at <a
            href="https://engineering.asu.edu/">Georgia
            Tech</a>
        </li>
        <li>
          <a href="http://explore.engineering.asu.edu/undergraduate-degrees/computer-systems/">B.S.E. Computer
            Systems Engineering</a> at <a href="https://engineering.asu.edu/">ASU</a>
        </li>
      </ul>

    </header>
    <section>

      {{ content }}

    </section>
    <footer>
      <p><small>© Oliver Scheiwiller, 2022</small></p>
    </footer>
  </div>
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>

</html>